streamlit
openai-whisper
sounddevice
numpy
scipy
flask
flask-socketio
faster-whisper
transformers
torch
pyaudio
webrtcvad
textblob
vaderSentiment
python-socketio
eventlet
librosa
scikit-learn
pydub
ffmpeg-python